<strong>Hello, {{ deliveryman }}</strong>
<p>A new product is waiting for your delivery, see the details follow:</p>
<p>
  <strong>Recipient:</strong> {{ recipient }} <br />
  <strong>Product:</strong> {{ product }} <br />
  <br />
  <small>You must pick up the product for delivery between 8:00 and 18:00 hours.</small>
</p>
